# Copyright (c) 2023 Bosch Sensortec GmbH
# SPDX-License-Identifier: Apache-2.0

config DUMMY_EEPROM
	bool "Dummy EEPROM driver"
	default y
	depends on DT_HAS_DUMMY_EEPROM_ENABLED
	help
	  Enable Dummy EEPROM driver for EEPROM Simulation

