# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
# INFO:
# Kconfig.defconfig => invisible symbols
# <board>_defconfig => visible symbols

if BOARD_BOSCH_APP31

config BOARD
	default "bosch_app31"

config BT_CTLR
   default BT

config FLASH_LOAD_OFFSET
	default 0x30000

config BOSCH_SHUTTLE_VDD_MV
	default 1800

#this is set equal to BOSCH_SHUTTLE_VDD_MV in defconfig
#to avoid BOSCH specific config variables in PMIC driver
#note that BOSCH_SHUTTLE_VDD_MV can be overridden in prj.conf
config BQ25120_LDO_MV
	default BOSCH_SHUTTLE_VDD_MV

if USB_DEVICE_STACK
config UART_LINE_CTRL
	default y
config BOSCH_USB_AUTO_START
	default y
endif # USB_DEVICE_STACK

config IEEE802154_NRF5
	default y
	depends on IEEE802154

endif
