# Copyright (c) 2023 Bosch Sensortec GmbH
# SPDX-License-Identifier: Apache-2.0

config BQ25120
	bool "BQ25120 Battery Controller driver"
	default y
	depends on DT_HAS_TI_BQ25120_ENABLED
	select I2C
	select BATTERY_SENSE
	help
	  Enable BQ25120 Battery Controller driver.
