# Copyright (c) 2023 Bosch Sensortec GmbH
# SPDX-License-Identifier: Apache-2.0

config BATTERY_SENSE
	bool "Battery Sensing Driver"
	default n
	help
	  Enable a battery level sensing driver.
rsource "Kconfig.bq25120"
rsource "Kconfig.bat_level_adc"
