#
# Copyright (c) 2023 Bosch Sensortec GmbH
#
# SPDX-License-Identifier: Apache-2.0
#

config BOSCH_BMI270
	bool "BMI270 Sensor API"
	default n
	help
	  Low-level device interface for BMI270 device

#TODO: add configs for variants