# Configuration for Arduino Nicla Sense ME board pre-configured 
# for Bosch Sensortec Drivers and COINES library

# Copyright (c) 2023 Bosch Sensortec GmbH
# SPDX-License-Identifier: Apache-2.0

config BOARD_BST_ARDUINO_NICLA
	bool "BST Arduino Nicla"
	depends on SOC_NRF52832_QFAA

#Added for compatibility with BST Application Boards
#ignored in Nicla
config BST_SHUTTLE_SELECT_VDD_2_8
	bool "BST SHUTTLE SELECT VDD 2.8V"
	depends on BOARD_BST_ARDUINO_NICLA

#Added for compatibility with BST Application Boards
#ignored in Nicla
config BST_USB_AUTO_START
	bool "Auto start USB Driver"

#Information returned by coines_get_board_info()
config COINES_BOARD_ID
	int "COINES Board ID"
config COINES_HW_ID
	int "COINES HW ID"
config COINES_SW_ID
	int "COINES SW ID"
