# BST-AB3 board configuration

# Copyright (c)2022 Bosch Sensortec GmbH
# SPDX-License-Identifier: Apache-2.0

config BOARD_BST_AB3_NRF52840
	bool "BST-AB3-NRF52840"
	depends on SOC_NRF52840_QIAA

config BST_AB3_NRF52840_SELECT_VDD_2_8
	bool "BST_AB3_NRF52840 SELECT VDD2.8V"
	depends on BOARD_BST_AB3_NRF52840

config BST_AB3_USB_AUTO_START
	bool "Auto start USB Driver for console support via USB"
	depends on BOARD_BST_AB3_NRF52840
