# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_BST_AB3_NRF52840

config BOARD
	default "bst_ab3_nrf52840"

config BT_CTLR
   default BT

config FLASH_LOAD_OFFSET
	default 0x30000

config BST_AB3_NRF52840_SELECT_VDD_2_8
	default y

if USB_DEVICE_STACK
config UART_LINE_CTRL
	default y
config BST_AB3_USB_AUTO_START
	default y
endif # USB_DEVICE_STACK

config IEEE802154_NRF5
	default y
	depends on IEEE802154

endif
