# Configuration for Arduino Nicla Sense ME board pre-configured 
# for Bosch Sensortec Drivers and COINES library

# Copyright (c) 2023 Bosch Sensortec GmbH
# SPDX-License-Identifier: Apache-2.0

if BOARD_BOSCH_NICLA_SENSE

config BOARD
	default "bosch_nicla_sense"

config BT_CTLR
	default BT

endif # BOARD_BOSCH_NICLA_SENSE
